@import '../../assets/styles/styles.scss';
.ui-container{
    .product-container{
        height: 400px;
        overflow-y: auto;
        font-size: small;
        .product{
            padding: 5px 0;
        }
        .none-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        .mat-button{
          line-height: 25px;
        }
    }

    .order-container{
        //width: 550px;
        height: 375px;
        overflow: auto;
        .order-wrapper{
            //padding: 0 20px;
            .product-title{
                font-size: medium;
                margin: 0px;
            }
        }
        .order-alter{
            display: flex;
            .mat-button{
              min-width: 16px;
              padding: 0px;
              border-radius: 0px;
            }
            .plus , .minus{
                display: flex;
                //width: 30px;
                //height: 27px;
                justify-content: center;
                background: $accent;
                // padding: 2px 0;
                cursor: pointer;
                .mat-icon{
                    color: $white;
                }
            }
            .quantity{
                // margin: 0px 8px;
                // font-size: medium;
                // font-weight: 500;
                text-align: center;
                width:50px;
            }
            .amount{
                margin-left: 25px;
                font-size: medium;
                font-weight: 500;
            }
        }
        .total-amount-wrapper{
            display: flex;
            justify-content: flex-end;
            .amount{
                font-size: medium;
                font-weight: 500;
            }
            .delete{
                color: red;
                margin-left: 3px;
                cursor: pointer;
            }
        }
    }

    .total-container{
        .total{
            float: right;
        }
        .control-buttons{
            display: flex;
            justify-content: flex-end;
            .save-button{
                margin-right: 10px;
            }
        }
        .kot {
          width: 20px;
          background-color: red;
          margin: 0 5px;
          text-align: center;
          color: white;
          cursor: pointer;
      }
    }
    .table-status-container{
      padding: 0 30px;
      height: 450px;
      overflow-y: auto;
      .table-wrapper{
        cursor: pointer;
        height: 50px;
        margin-top: 15px;
        .table-title{
          margin: inherit;
          color: white;
        }
      }
      .reserved{
        background-color: #fb483a !important;
      }
      .cleared{
        background-color: #2b982b !important;
      }
    }
}
