<app-titlebar></app-titlebar>
<div class="ui-container">
    <div class="row">
      <div class="col-12 col-md-2  table-status-container">
        <div class="row">
          <div class="col-12">
            <h4>Tables</h4>
          </div>
          <div class="col-12 table-wrapper" (click)="getBill(table)"  *ngFor="let table of tables" [ngClass]="{'reserved': table.billing,'cleared':!table.billing}">
            <h6 class="mat-h3 table-title">{{table.name}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
          <div class="row">
              <div class="col-12">
                  <div class="row">
                      <div class="col-12 col-md-4">
                          <mat-form-field class="full-width">
                              <mat-label>Select Category</mat-label>
                              <mat-select (selectionChange)="fetchProductByCategory()" [value]="category" [(ngModel)]="category">
                                  <mat-option value="0">All</mat-option>
                                  <mat-option [value]="cat.id" *ngFor="let cat of categoryList">{{ cat.name }}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-12 col-md-8">
                          <mat-form-field class="full-width">
                              <input type="text" (keyup)="filterProducts()" [(ngModel)]="search" matInput placeholder="Search Items" autocomplete="off">
                          </mat-form-field>
                      </div>
                  </div>
              </div>

              <div class="col-12 product-container" *ngIf="tempProductList.length > 0">
                  <div class="row product" *ngFor="let product of tempProductList; let i = index">
                      <div class="col-2">
                          <span>{{ i+1 }}</span>
                      </div>
                      <div class="col-7">
                          <div class="row">
                              <div class="col-12">
                                  {{ product.name }}
                              </div>
                              <div class="col-12">
                                  {{ product.rate | currency: 'INR'}} {{ product.category.name+'/'+product.unit.name }}
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                          <button (click)="addProductToOrder(product)" mat-button>Add</button>
                      </div>
                  </div>
              </div>
              <div class="col-12 product-container" *ngIf="tempProductList.length == 0">
                  <div class="none-wrapper">
                      <h4>Products Not Found</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6">
        <form [formGroup]="billingForm">
          <div class="row">
              <div class="col-12">
                  <div class="row">
                      <div class="col-12 col-md-6">
                          <mat-form-field class="full-width">
                              <mat-label>Select Table</mat-label>

                              <mat-select formControlName="table">
                                  <mat-option [disabled]="table.billing" [value]="table.id" *ngFor="let table of tables">{{table.name}} {{table.billing?' (Occupied) ': ''}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="billingForm.get('table').hasError('required')">
                                Table is Required
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-12 col-md-6">
                          <mat-form-field class="full-width">
                            <input matInput formControlName="date" [ngxMatDatetimePicker]="picker" placeholder="Choose a date" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                            <mat-error *ngIf="billingForm.get('date').hasError('required')">
                              Date is Required
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="row">
                      <div class="col-12 order-container">
                          <div class="row" *ngFor="let order of productOrder; let i=index ">
                              <div class="col-12">
                                  <div class="order-wrapper">
                                      <h5 class="product-title mat-h3"> {{ order.product_name }} </h5>
                                  </div>
                              </div>
                              <div class="col-8">
                                  <div class="order-alter">
                                      <!-- <span matRipple (click)="removeQuantity(order)" class="minus"><mat-icon class="minus">remove</mat-icon> </span> -->
                                      <button type="button" [disabled]="order.isOrdered || order.qty===1" mat-button (click)="addQuantity(order,i)"><mat-icon class="minus">remove</mat-icon> </button>
                                      <!-- <span class="quantity">{{ order.qty }}</span> -->
                                      <input type="number" (change)="addQuantity(order,i,$event)" [readOnly]="order.isOrdered" [min]="1" class="quantity" [value]="order.qty"/>
                                      <button type="button" [disabled]="order.isOrdered" mat-button (click)="addQuantity(order,i)"> <mat-icon class="plus">add</mat-icon> </button>
                                      <!-- <span matRipple (click)="addQuantity(order)" class="plus"><mat-icon>add</mat-icon></span> -->
                                      <span class="amount">x {{ order.rate | currency: 'INR' }}/-</span>

                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="total-amount-wrapper">
                                      <span class="amount">{{ order.totalamount | currency: 'INR' }} /-</span>
                                      <span matRipple *ngIf="!order.isOrdered" (click)="removeProductFromOrder(order,i)" class="delete"> <mat-icon>delete</mat-icon> </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 total-container">
                          <div class="row">
                              <div class="col-12" *ngIf="kotItems.length > 0">
                                <span class="mat-h4"> No Of Kots:  </span>
                                <label class="kot" (click)="showKotItems(k.kotItems)" *ngFor="let k of kotItems">{{k.kotNo}}</label>
                              </div>
                              <div class="col-12">
                                <span class="mat-h1 total">Total : {{ totalPrice | currency: 'INR'}}/-</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 control-buttons">
                                  <button type="button" (click)="addPayment()" class="save-button" mat-button [disabled]="productOrder.length==0" *ngIf="billing && billid">Save Bill</button>
                                  <button (click)="saveBilling()" type="button" class="save-button" mat-button [disabled]="productOrder.length==0">Save Changes</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>
