@import '../../assets/styles/styles.scss';
.ui-container{
    .mat-card{
        height: 100px;
        margin-bottom: 15px;
        .mat-card-content{
            height:100%;
            display: flex;
            .card-icon{
                height: 100%;
                width: 40%;
                .mat-icon{
                    font-size: 60px;
                }
            }
            .card-content{
                width:60%;
                label{
                    margin: 0;
                }
                .title{
                    font-size: medium;
                }
                .total{
                    font-size: x-large;
                    font-weight: 500;
                    display: block;
                }
            }
        }
    }
}
