<app-titlebar></app-titlebar>
<div class="ui-container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <mat-card>
        <mat-card-content>
            <div class="card-icon">
              <mat-icon>fastfood</mat-icon>
            </div>
            <div class="card-content">
              <label class="title">Total Items</label>
              <label class="total">30</label>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <mat-card>
          <mat-card-content>
              <div class="card-icon">
                <mat-icon>deck</mat-icon>
              </div>
              <div class="card-content">
                <label class="title">Total Tables</label>
                <label class="total">30</label>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
          <mat-card>
            <mat-card-content>
                <div class="card-icon">
                  <mat-icon>library_books</mat-icon>
                </div>
                <div class="card-content">
                  <label class="title">Total Invoice</label>
                  <label class="total">30</label>
                </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <mat-card>
              <mat-card-content>
                  <div class="card-icon">
                    <mat-icon>attach_money</mat-icon>
                  </div>
                  <div class="card-content">
                    <label class="title">Total Sale</label>
                    <label class="total">30</label>
                  </div>
              </mat-card-content>
            </mat-card>
          </div>
  </div>
</div>
