<div class="sidenav-container">
    <div class="user-profile">
        
    </div>
    <mat-nav-list>
        <mat-list-item>
                <mat-icon>home</mat-icon>
                <a (click)="toggleSideNav()" routerLink="dashboard" class="nav-title">Dashboard</a>
        </mat-list-item>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>apps</mat-icon>
                        <span class="nav-title">Master</span> 
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item>
                <a (click)="toggleSideNav()" routerLink="category">Item Category</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="toggleSideNav()" routerLink="product">Item</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="toggleSideNav()" routerLink="table">Table</a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="toggleSideNav()" routerLink="unit">Unit</a>
            </mat-list-item>
        </mat-expansion-panel>
        <mat-list-item>
            <mat-icon>home</mat-icon>
            <a (click)="toggleSideNav()" routerLink="service" class="nav-title">Customer Service</a>
        </mat-list-item>
    </mat-nav-list>
</div>